In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [6]:
df = pd.read_csv('ApexPlayerRetention_final.csv')

In [8]:
df.head()

,date,game,map,match_type,my_duration,my_rank,rp_earned,premade_squad,voice_chat,squad_placed,...,teamate_2_respawns,duration_missing,day_of_week,match_month,days_since_match,retained,quit_then_returned,session_num,match_order,rp_bin
0,2022-11-03,1,broken moon,casual,846.0,S3,0.0,no,yes,5.0,...,0.0,0,Thursday,2022-11,73,0,False,1,1,0
1,2022-11-03,9,broken moon,ranked,0.0,S3,261.0,no,no,1.0,...,0.0,1,Thursday,2022-11,73,0,False,7,2,201+
2,2022-11-03,7,broken moon,casual,0.0,S3,0.0,no,no,9.0,...,0.0,1,Thursday,2022-11,73,0,False,11,3,0
3,2022-11-03,10,broken moon,ranked,0.0,S3,30.0,no,no,4.0,...,0.0,1,Thursday,2022-11,73,0,False,10,4,1–50
4,2022-11-03,3,broken moon,casual,0.0,S3,0.0,no,no,3.0,...,0.0,1,Thursday,2022-11,73,0,False,9,5,0

In [12]:
df.shape

(499, 43)

In [16]:
# Columns to drop
drop_cols = ['date', 'game', 'teamate_1_legend', 'teamate_2_legend', 'rp_bin', 'duration_missing', 'quit_then_returned']
df = df.drop(columns=drop_cols)
display(df.shape)
df.columns

(499, 36)

Index(['map', 'match_type', 'my_duration', 'my_rank', 'rp_earned',
       'premade_squad', 'voice_chat', 'squad_placed', 'teamate_count',
       'my_quit', 'teamate_quit_count', 'my_legend', 'my_damage',
       'teamate_1_damage', 'teamate_2_damage', 'my_kills', 'teamate_1_kills',
       'teamate_2_kills', 'my_assists', 'teamate_1_assists',
       'teamate_2_assists', 'my_knocks', 'teamate_1_knocks',
       'teamate_2_knocks', 'my_revives', 'teamate_1_revives',
       'teamate_2_revives', 'my_respawns', 'teamate_1_respawns',
       'teamate_2_respawns', 'day_of_week', 'match_month', 'days_since_match',
       'retained', 'session_num', 'match_order'],
      dtype='object')

In [18]:
categorical_cols = ['map', 'match_type', 'my_rank','premade_squad', 'voice_chat', 'my_legend', 'day_of_week', 'match_month']

# One-hot encode
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)
print("Shape after encoding:", df.shape)
df.head()

Shape after encoding: (499, 70)

,my_duration,rp_earned,squad_placed,teamate_count,my_quit,teamate_quit_count,my_damage,teamate_1_damage,teamate_2_damage,my_kills,...,my_legend_Wattson,my_legend_Wraith,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,match_month_2022-12,match_month_2023-01
0,846.0,0.0,5.0,1.0,0.0,1.0,1268.0,316.0,316.5,5.0,...,False,False,False,False,False,True,False,False,False,False
1,0.0,261.0,1.0,2.0,0.0,0.0,1457.0,918.0,482.0,4.0,...,False,False,False,False,False,True,False,False,False,False
2,0.0,0.0,9.0,2.0,0.0,0.0,254.0,372.0,1104.0,1.0,...,False,False,False,False,False,True,False,False,False,False
3,0.0,30.0,4.0,2.0,0.0,0.0,499.0,148.0,341.0,0.0,...,False,False,False,False,False,True,False,False,False,False
4,0.0,0.0,3.0,2.0,0.0,0.0,141.0,493.0,256.0,0.0,...,False,False,False,False,False,True,False,False,False,False

In [22]:
numeric_cols = ['my_duration', 'rp_earned', 'squad_placed', 'teamate_count', 'my_quit', 'teamate_quit_count', 'my_damage', 'teamate_1_damage', 'teamate_2_damage', 'my_kills', 'teamate_1_kills', 'teamate_2_kills', 'my_assists', 'teamate_1_assists', 'teamate_2_assists', 'my_knocks', 'teamate_1_knocks', 'teamate_2_knocks', 'my_revives', 'teamate_1_revives', 'teamate_2_revives', 'my_respawns', 'teamate_1_respawns', 'teamate_2_respawns', 'days_since_match', 'session_num', 'match_order']

scaler = StandardScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

df[numeric_cols].describe().round(2)

,my_duration,rp_earned,squad_placed,teamate_count,my_quit,teamate_quit_count,my_damage,teamate_1_damage,teamate_2_damage,my_kills,...,teamate_2_knocks,my_revives,teamate_1_revives,teamate_2_revives,my_respawns,teamate_1_respawns,teamate_2_respawns,days_since_match,session_num,match_order
count,499.00,499.00,499.00,499.00,499.00,499.00,499.00,499.00,499.00,499.00,...,499.00,499.00,499.00,499.00,499.00,499.00,499.00,499.00,499.00,499.00
mean,0.00,-0.00,0.00,-0.00,0.00,-0.00,0.00,0.00,-0.00,0.00,...,0.00,0.00,-0.00,-0.00,-0.00,0.00,0.00,0.00,0.00,0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-0.76,-0.77,-1.65,-11.50,-0.16,-0.18,-1.24,-1.18,-1.13,-0.46,...,-0.97,-0.30,-0.32,-0.29,-0.24,-0.17,-0.17,-1.28,-1.25,-1.73
25%,-0.76,-0.64,-0.94,0.13,-0.16,-0.18,-0.40,-0.32,-0.38,-0.46,...,-0.16,-0.30,-0.32,-0.29,-0.24,-0.17,-0.17,-1.05,-0.73,-0.86
50%,-0.52,-0.42,0.13,0.13,-0.16,-0.18,-0.24,-0.24,-0.25,-0.46,...,-0.16,-0.30,-0.32,-0.29,-0.24,-0.17,-0.17,0.14,-0.21,0.00
75%,0.61,0.17,0.85,0.13,-0.16,-0.18,-0.09,-0.12,-0.20,0.37,...,-0.16,-0.30,-0.32,-0.29,-0.24,-0.17,-0.17,1.03,0.57,0.86
max,2.51,4.53,1.74,0.13,6.11,7.84,6.09,5.28,6.05,5.36,...,7.14,7.53,6.90,6.16,5.79,10.51,10.82,1.44,3.68,1.73

In [24]:
X = df.drop(columns=['retained'])
y = df['retained']

# Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Confirm split shapes
print("Train set size:", X_train.shape)
print("Test set size:", X_test.shape)

Train set size: (399, 69)
Test set size: (100, 69)

### Preprocessing Summary

This section prepared the dataset for modeling by cleaning, transforming, and standardizing features based on the requirements of predictive machine learning workflows.

**Steps completed:**

- **Dropped irrelevant or high-cardinality columns:**  
  Removed `date`, `game`, `rp_bin`, `teamate_1_legend`, `teamate_2_legend`, `quit_then_returned`, and `duration_missing` to reduce noise and avoid data leakage.

- **One-hot encoded categorical variables:**  
  Converted `map`, `match_type`, `my_rank`, `premade_squad`, `voice_chat`, `my_legend`, `day_of_week`, and `match_month` into binary indicator columns using `pd.get_dummies()`.

- **Standardized numeric features:**  
  Applied `StandardScaler` to all continuous variables to ensure consistent feature scaling for modeling.

- **Train-test split:**  
  Split the dataset into 80% training and 20% testing sets with stratified sampling based on the `retained` target variable.

The resulting `X_train`, `X_test`, `y_train`, and `y_test` datasets are now ready for supervised learning models to predict player retention.

In [27]:
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)

X_train shape: (399, 69)
y_train shape: (399,)
X_test shape: (100, 69)
y_test shape: (100,)

In [29]:
# Export feature and target sets
X_train.to_csv("X_train.csv", index=False)
X_test.to_csv("X_test.csv", index=False)
y_train.to_csv("y_train.csv", index=False)
y_test.to_csv("y_test.csv", index=False)